body {
  background-image: url(https://images.unsplash.com/photo-1551001626-86e913f8baf7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

h1 {
  color: rgb(10, 15, 34);
  font-weight: bolder;
  font-size: 3rem;
  text-align: center
}

th {
  border: solid 1px purple
}

td {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  border: solid 1px rgb(21, 8, 211)
}

table {
  border: solid 1px purple;
  font-family: 'Sniglet', cursive;
}

label {
  font-family: 'Sniglet', cursive;
}

.jumbotron {
	color: #4f1c70;
  font-family: 'Kaushan Script', cursive;
  box-shadow: 12px 10px 16px rgb(111, 111, 116);
  text-align: center;
  padding: 2px
}

