body {
  font-family: 'Homemade Apple', cursive;
  background-image: url(https://images.unsplash.com/photo-1520954052043-8527729d0817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

h1 {
  color: rgb(37, 65, 192);
  font-weight: bolder;
  font-size: 3rem;
  text-align: center
}

th {
  border: solid 1px purple
}

td {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  border: solid 1px rgb(21, 8, 211)
}

table {
  border: solid 1px purple;
  font-family: 'Sniglet', cursive;
}

label {
  font-family: 'Sniglet', cursive;
}